<fieldset id="task_details">
  <legend><%=_ "Detalhes" %></legend>

  <div class="control-group">
    <label for="task_project_id"><%=_ 'Projeto' %></label>
    <select name="task[project_id]" id="task_project_id" <%= "disabled=\"disabled\"" unless perms['reassign'].empty? %>>
      <%= options_for_user_projects(@task) %>
    </select>
  </div>

  <div class="control-group">
    <label for="task[due_at]"> <%=_ 'Data limite' %> </label>
    <div id="due_date_field" class="pull-left">
      <%= due_date_field(@task, perms) %>
    </div>
  </div>


  <% unless @task.resolved? or @task.new_record? %>
    <div class="control-group">
      <label>Data prevista</label>
      <span style="margin-top:0.6em;float:left;"><%= @task.estimate_date ? @task.estimate_date.strftime(current_user.date_format) : "unknown"  %></span>
    </div>
  <% end %>

  <div class="control-group">
    <label for="task_status"><%= _("Status") %></label>
    <%= status_field(@task).html_safe %>
  </div>

</fieldset>
